body {
  background: url('../img/cielo.jpg');
  background-attachment: fixed; /*Para que permanezca el fondo*/
  transition: all .3s ease;
}

#logo {
  background: #1f87c4;
}

#menu ul li:hover {
  background: #1f87c4;
}

.buttonMore {
  background: #1f87c4;
}
